@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  @apply antialiased;
}

/* Enable smooth scroll only on desktop devices with fine pointer control */
@media (hover: hover) and (pointer: fine) {
  html {
    scroll-behavior: smooth;
  }
}
